{% extends 'base.html' %}
        {% block extrahead %}
                <title>Find Your Dab</title>
        {% endblock %}
{% block content %}
{% if user.is_authenticated %}

                         



                         <div class="row">

        <div class="col-md-12 toppad" >
        <div class="panel panel-info" style="background-color: rgba(0, 0, 0, 0.9)" >
            <div class="panel-heading tweettext">
                        <center><b>Find Your Dab</b></center>
            </div>

               <div class="panel-body">

                {% for wax in waxs %}
		<div class="row">
                <div class="col-md-12" align="left"><a href="/waxs/"><a href="/waxs/{{ wax.slug }}/"><img src="{{ wax.wax_pic.url }}" height="75" width="75" class="img-circle" />
                         <button type="button" class="btn btn-success btn-cons">{{ wax }} ${{ wax.pricepergram }}/gr</button></a></b><a href="/dispensarys/{{ wax.dispensary.slug }}/">
				<button type="button" class="btn btn-info btn-cons"> &#10010;</button></a>
    
                {% endfor %}
            </div>
           </div>
         </div>
    	</div>


        

        <div id="nav_bottom" class-"toppad">
                <center><p><a href="/waxs/"><button type="button" class="btn btn-primary">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp DABS&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</button></a>
                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp; <a href="/dispensarys/"><button type="button" class="btn btn-primary">DISPENSARYS</button></a></p></center>
        </div>
	


{% else %}
<img src="/static/images/ahahah.gif" width='490px'>
<center><h3><p>Please <a href="/login/">Login</a> to view this page</p></h3></center>
{% endif %}

{% endblock %}
